./
../
**__pycache__/
**.class
**.docx
**.exe
**.hi
**.html
**.lnk
**.log
**.mid
**.o
**.pdf
**.png
**.wav
**.whl
**.xlsx

_old_Git/
DataScience/
Mathematica/
MorseCode/
Minecraft/mcedit2/
Weather/OpenWeatherMap_data/

**.gitignore
SelfBettingRecord.csv
Series56Questions.txt
Series56Study.py
