# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.swp
*.~lock.*

# blackjack shoe text files
*.shoe
_secret*

# giant prime number text file
primes.txt

# mapping memoization files
Mapping/MemoIcosa*.txt

# giant map files
*ElevationGenerationOutputData*.txt
*EGD*.txt
