# ignore all files, then unignore all directories, then unignore all files with extensions
# https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign
*
!/**/
!*.*

# unignore binaries that I want to distribute
!Language/LanguageSorting/executables/**/*

# Byte-compiled / optimized / DLL files
/**/__pycache__/
*.py[cod]
*$py.class
*.swp
*.~lock.*
*.class

/**/.vscode/

# blackjack shoe text files
*.shoe
_secret*

# giant prime number text file
primes.txt

# mapping memoization files
Mapping/MemoIcosa*.txt
Mapping/MemoIcosa/
Mapping/PointFiles/

# giant map files
*ElevationGenerationOutputData*.txt
*EGD*.txt
Mapping/Projects/

PrettyPlotOutputs/*.png

# giant (rather, numerous) Bible files
FlexPy/Bible/texts/

# copied file from Kris for debugging purposes, don't want to plagiarize by committing it in my own repo
FlexPy/KrisCorpusToolsDebugging.py

# virus genomes
Genetics/NCBI/ncbi_dataset/

# image files for random ML stuff
ImageDatasets/
Language/ProductOrientedSchema/NN2023/images/

BasisSpectrumOutput/
Mapping/NoiseImages/
Mapping/ElevationImages/
Emergence/Images/
Genetics/*.png
Chaos/Images/**/*.png
# for Chaos images, keep the files telling what the coefficients are (non-png files) for ability to reconstruct cool images
# .gitignore needs comments to be ON THEIR OWN LINE!
MomentOfInertiaImages/
RecurrenceRelationImages/
Genetics/ChemicalDiagrams/
NumberTheory/PrimeTurtleImages/
NumberTheory/RationalGrid.png

# saved GAN models
NeuralNetFiles/
# textgenrnn keeps making this even though I tell it to put the config/vocab/weights in a certain location
textgenrnn_weights.hdf5

# CLICS database stuff (to re-download/rebuild, see README at https://github.com/clics/clics3)
Language/clics.sqlite
Language/clics.sqlite-journal
Language/src/
Language/CLICS_Concepts_Raw.txt
Language/_test_allcoding.txt

# Haskell compiled files
ProjectEuler/Haskell/*.o
ProjectEuler/Haskell/*.hi
# compiled files with no extension
ProjectEuler/Haskell/[^.]+

Wordle/enwiki-20190320-words-frequency.txt
EmbroideryImages/
Images/HueRotation/
Images/EllipticCurves/
Images/Wordle/
Images/VineScriptGAN/
Images/Recursion/
VineScriptTabletInputData/GlyphExemplars/*.png
VineScriptTabletInputData/Uncz/*.png

SyncDirsTesting/
